.addService__form {
  background: #fff;
  padding: 2rem;
  width: 90%;
}

.uploadImg {
  color: #009444;
  border: 1px solid #009444;
  padding: 0.7rem 2rem;
  border-radius: 10px;
  background: #00944527;
}

.selectedImg {
  width: 150px;
}
